/* Main Content Background */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body, html {
    font-family: 'Jua', sans-serif;
    background: linear-gradient(to bottom, #d0e6e9, white, rgb(228, 223, 241), white);
    width: 99.5%;
    height: 180vh;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #195a6f;
    text-shadow: 2px 2px rgba(110, 147, 234, 0.5);
    text-align: center;
    margin-top: 20px;
}

nav {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #c5d9ed;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

nav ul li a {
    font-size: 1.5em;
    text-decoration: none;
    color: #56779d;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

nav ul li a:hover {
    color: #505657;
}

#map {
    display: block;
    margin: 0 auto;
}

#map-section h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #56779d;
    text-shadow: 2px 2px rgba(98, 148, 205, 0.5);
    text-align: center;
    margin-top: 40px;
}

#map-section h4{
    font-size: 1.7rem;
    font-weight: bold;
    color: #56779d;
    text-shadow: 2px 2px rgba(98, 148, 205, 0.5);
    text-align: center;
    margin-top: 10px;
}


#category-selection, #search-location, #recommendation-results, #travel-time-section {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
}

#result-list > li {
    font-size: 1.3em;
    color: #56779d;
}

h2 {
    font-size: 2rem;
    color: #4a90e2;
    margin-bottom: 10px;
}

label {
    font-size: 1.4rem;
    color: #333;
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

#category-selection div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
}


input[type="number"], input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(150px);
    box-sizing: border-box;
}

button {
    display: block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #357ABD;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2rem;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

#travel-time-list p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #56779d;
    background: #f0f8ff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
